In [9]:
x=5

In [10]:
x

5

In [11]:
x=5.2

In [12]:
x

5.2

In [13]:
x=6

In [14]:
_x=7.8

In [20]:
# space(_) number and variable

_X6=200

In [22]:
# no space(_) number and variable

6_X=300

SyntaxError: invalid decimal literal (333699675.py, line 3)

In [6]:
#python allows you assign values to multiple variable in one line
x=5
y=6
z=8

In [25]:
x

5

In [ ]:
x,y,z=1,5,6

In [26]:
z

8

In [27]:
#and you can assign the same value to multiple variable in one line


x=y=z="orange"

In [28]:
z

'orange'

### DATA TYPES

In [1]:
# data types
# int
x=5
print( type (x))

<class 'int'>

In [2]:
int = 5
print (int)

5

In [3]:
# float number in data type
y=5.2        ## float number is represeted by (.) 
print(type (y))

<class 'float'>

In [4]:
# complex number in data type
x = 1j         ## complex number is represented by "j"
print (type (x))
type (x)

<class 'complex'>

complex

In [11]:
# sequence types
## list
x = [ "apple","banana","cherry"]  ## A list is  represented and close by  the " [] " (squere breket)
type (x)

list

In [2]:
# tuple 
x = ( " apple ","banana","cherry")  ## A tuple is represented and close by the "()"
type (x)

tuple

In [14]:
# sequence types 
## range 
x = range (0,6) # range of the number ( 0-6 range) 
print (type (x))

<class 'range'>

In [10]:
# mapping type
# direction
x = {"name":"john","age":36}
type (x)

dict

In [11]:
#set 
x = {"apple", "banana","cherry"} ## set is coolection of unique number 
type (x)

set

In [19]:
 # boolean type
#bool
x = True
type (x)

bool

In [14]:
# bytes
x= b"Hello"
type (x)

bytes

In [20]:
# bytearray
x= bytearray (5)
type (x)

bytearray

In [22]:
# memoryview
x= memoryview(bytes (5))
type(x)

memoryview

In [10]:
str = " Hello world!"
s = "Hello, World!"

print(type (str))
type (s)

<class 'str'>

str

####

In [12]:
my_list = [1, "apple", 3.14, True]
type (my_list)

list

In [15]:
print('Hello, world!')

Hello, world!

In [16]:
frozen_set = frozenset([1, 2, 3, 4])
type (frozen_set)

frozenset

In [17]:
>>> type(False)
<class 'bool'>
>>> type(True)
<class 'bool'>

SyntaxError: invalid syntax (789568486.py, line 2)

In [18]:
x = None
type (x)

NoneType

### PYTHON CASTING

In [2]:
x = int (2.8)
y = int ("3")
type (x)
type (y)

int

In [10]:
x =float (1)
y =float ("3.2")
w =float ('4.2')
print (type (x))
print (type (w))
print (type (y))

<class 'float'>
<class 'float'>
<class 'float'>

In [11]:
 x = int ('3.2') # this is not a integer but is string why is define of single quatation ('  ')

ValueError: invalid literal for int() with base 10: '3.2'

### multiline string

In [20]:
 a = """ you can write anything is a multiline string 
 and we are assigning this to a_variable """

In [21]:
print (a)

 you can write anything is a multiline string
and we are assigning this to a_variable

In [23]:
a

' you can write anything is a multiline string \nand we are assigning this to a_variable '

### string are Arrays

In [24]:
x="o"

In [27]:
len(x)

1

In [33]:
 x = "orange"
len (x)
x[0]

'o'

In [36]:
 a = "hello world"

In [44]:
a[1:5]###

'ello'