In [9]:
x=5

In [10]:
x

5

In [11]:
x=5.2

In [12]:
x

5.2

In [13]:
x=6

In [14]:
_x=7.8

In [20]:
# space(_) number and variable

_X6=200

In [22]:
# no space(_) number and variable

6_X=300

SyntaxError: invalid decimal literal (333699675.py, line 3)

In [23]:
#python allows you assign vakues to multiple variable in one line
x=5
y=6
z=8

In [25]:
x

5

In [ ]:
x,y,z=1,5,6

In [26]:
z

8

In [27]:
#and you can assign the same value to multiple variable in one line


x=y=z="orange"

In [28]:
z

'orange'

### DATA TYPES

In [1]:
# data types
# int
x=5
print( type (x))

<class 'int'>

In [7]:
# float number in data type
y=5.2        ## float number is represeted by (.) 
type (y)

float

In [8]:
# complex number in data type
x = 1j         ## complex number is represented by "j"
#print (type (x))
type (x)

complex

In [11]:
# sequence types
## list
x = [ "apple","banana","cherry"]  ## A list is  represented and close by  the " [] " (squere breket)
type (x)

list

In [2]:
# tuple 
x = ( " apple ","banana","cherry")  ## A tuple is represented and close by the "()"
type (x)

tuple

In [6]:
# sequence types 
## range 
x = range (6) # range of the number ( 0-6 range) 
type (x)

range

In [10]:
# mapping type
# direction
x = {"name":"john","age":36}
type (x)

dict

In [11]:
#set 
x = {"apple", "banana","cherry"} ## set is coolection of unique number 
type (x)

set

In [19]:
 # boolean type
#bool
x = True
type (x)

bool

In [14]:
# bytes
x= b"Hello"
type (x)

bytes

In [20]:
# bytearray
x= bytearray (5)
type (x)

bytearray

In [22]:
# memoryview
x= memoryview(bytes (5))
type(x)

memoryview

#### PYTHON CASTING