In [6]:
a=1111111111111111111111111111111111111111111111111111111111111111111111111122222222222222222222222222222222222223333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333888888888888888888888888888888888888888888888888888888888888888888444444444444444444444444444

In [7]:
type(a)

int

In [8]:
 a= 40 if 10>30 else 100
print(a)

100

In [9]:
r = input('Enter the value')
print(type (r))

Enter the value 2312

<class 'str'>

In [ ]:
# add two numbers
n1 = input ("Enter num 1:")
n2 =

In [ ]:
# data types of python

In [10]:
a = 234
print (type(a))

<class 'int'>

In [11]:
a = 234
b = 234
c = 234
print (id (a))
print (id (b))
print (id (c))

2282525302288
2282525302288
2282525302288

In [14]:
 b = True
 c = True
 d = True
print(id(b))
print(id(c))
print(id(d))

140713987140456
140713987140456
140713987140456

In [ ]:
   b = [2,3]
   c = [

In [15]:
t = (2)
type(t)

int

In [17]:
t2 =tuple (2)
type (t2)

TypeError: 'int' object is not iterable